/**
** Entity Form Title Region
**/
.node-add-edit h1.page-header {
    padding: 30px;
    margin: 0 -15px;
    background-color: var(--bg-lightest);
    font-size: 3em;
    border-color: var(--border-lightest);
}

/**
** Entity form nav tab / vertical tabs
**/

/* .node-add-edit .tabs-left > .nav-tabs {
    float: none;
    margin: 10px 0 0;
    width: 100%;
    padding: 0 15px;
}

.node-add-edit .tabs-left > .nav-tabs > li {
    display: inline-block;
    margin: 0;
} */
.node-add-edit .tabs-left > .nav-tabs > li > a {
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid transparent;
    margin: 0;
    box-shadow: unset;
    background-color: unset;
}
.node-add-edit .tabs-left > .nav-tabs > li.active > a {
    border-color: var(--primary);
    box-shadow: unset;
    color: var(--primary);
}
.node-add-edit .tabs-left > .nav-tabs > li > a:hover,
.node-add-edit .tabs-left > .nav-tabs > li > a:focus {
    color: var(--primary);
    border-color: var(--primary);  
}
.node-add-edit .tabs-left > .nav-tabs > li.active > a:hover,
.node-add-edit .tabs-left > .nav-tabs > li.active > a:focus {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.node-add-edit .tabs-left > .tab-content {
    border-radius: unset;
    box-shadow: unset;
    max-width: 900px;
    border: 1px solid var(--border-lightest);
    padding: 1em;
    margin: 15px;
}