/**
** Node Page Layout
**/
body.path-node .main-container {
    margin-top: 15px;
}
body.path-node.page-node-type-profile .main-container,
body.path-node.page-node-type-event .main-container {
    margin-top: 0;
}

@media (min-width: 1920px) {
    body.path-node .main-container {
        max-width: 1800px;
        margin-top: 30px;
    }
    body.path-node.page-node-type-profile .main-container {
        margin-top: 0;
    }
    body.path-node.page-node-type-event .main-container {
        margin-top: 0;
        max-width: unset;
    }
    body.path-node .main-container.node-add-edit {
        max-width: unset;
        margin-top: 0;
    }
}

/**
** Talk Node
**/
.node--type-talk.node--view-mode-full {
    padding-right: 0px;
    margin-bottom: 50px;
}

@media (min-width: 1920px) {
    .node--type-talk.node--view-mode-full {
        padding-right: 50px;
    }
}

/**
** Profile Node
**/
.node--type-profile.node--view-mode-full {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-gap: 0 50px;
}
.profile-col-1 {
    background-color: var(--grey-lightest);
    padding: 30px;
    grid-column: 1;
    align-self: start;
    margin: 0 -15px;
}
.profile-col-2 {
    margin-top: 30px;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .node--type-profile.node--view-mode-full {
        grid-template-columns: 30% auto;
    }
    .profile-col-1 {
        margin: 0;
    }
}

/**
** Event Node
**/
.node--type-event.node--view-mode-full {
    margin: 0 -15px 0;
}
.event-header {
    background-color: var(--grey-lightest);
    padding: 15px;
}
.event-header > .max-width {
    display: grid;
    grid-gap: 15px;
}
.event-talks {
    max-width: 1800px;
    margin: 50px 30px;
}
.event-body {
    padding: 0 15px;
}
.event-gallery {
    margin: 25px 0 0;
    padding: 5px 15px 15px 15px;
    background: var(--grey-lightest);
}

@media (min-width: 768px) {
    .event-header > .max-width {
        max-width: 1800px;
        grid-template-columns: 50px auto;
    }
    .event-header {
        padding: 30px;
    }
    .event-header > .max-width {
        grid-template-columns: 150px auto;
        grid-gap: 50px;
    }
    .event-talks {
        margin: 50px auto;
    }
    .event-body {
        max-width: 1800px;
        margin: 0 auto;
    }
    .event-gallery {
        margin: 50px 0 0;
        padding: 25px;
    }
}

@media (min-width: 992px) {
    .event-header > .max-width {
        grid-template-columns: 300px auto;
        grid-gap: 50px;
    }
    .event-gallery {
        padding: 40px;
    }
}

@media (min-width: 1280px) {
    .event-header > .max-width {
        grid-template-columns: 400px auto;
        grid-gap: 50px;
    }
}


/**
** Node fields
**/
.node.node--view-mode-full > .field.field--label-above {
    margin-top: 30px;
    max-width: 700px;
    line-height: 1.55em;
}
.field--label-above > .field--label {
    font-weight: 600;
    color: var(--primary-darkest);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.846;
}
.field--label-above > .field--label::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-darkest);
}
@media (min-width: 768px) {
    .node.node--view-mode-full > .field.field--label-above {
        margin-top: 60px;
        max-width: 700px;
    }
}

/** Field: Tags **/
.field.field--name-field-tags .field--item {
    display: inline-block;
    margin: 0 3px 5px 0;
}
.field--name-field-tags .field--item > a {
    padding: 8px 12px;
    background-color: var(--primary-10);
    color: black;
    line-height: 1em;
    border-radius: 4px;
    display: inline-block;
}

/** Field: Node edit button **/
.field-node-edit {
    margin-top: 0;
    margin-bottom: 15px;
}
.field-node-edit .btn {
    width: 100%;
}
@media (min-width: 768px) {
    .field-node-edit {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .field-node-edit .btn {
        width: auto;
    }
}

/**
** Node page elements
**/

/** talk title region **/
.talk-title-region {
    padding: 15px;
    background-color: var(--grey-lightest);
    color: black;
}
.talk-title-actions {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 15px;
}
.talk-title-actions .stat-count {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
    line-height: 1em;
}
.talk-title-actions .stat-desc {
    font-size: .9em;
    color: var(--grey-dark);
}
.talk-title-actions .talk-actions {
    text-align: right;
}
.talk-title-actions .talk-actions > * {
    display: inline-block;
    margin-left: 1em;
}
.talk-title-actions .talk-actions > a {
    color: var(--grey-dark);
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-weight: 100;
}
.talk-actions > a > span.glyphicon {
    display: block;
    color: black;
    font-size: 1.4em;
    font-weight: 100;
}
.talk-actions > a:hover,
.talk-actions > a:focus {
    text-decoration: none;
}
.talk-actions > a:hover > span.glyphicon,
.talk-actions > a:focus > span.glyphicon {
    color: var(--primary);
}
.talk-title-details {
    grid-column: span 2;
    margin-top: 20px;
}
.talk-subtitle-top {
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
.talk-subtitle-top a {
    color: var(--grey-dark);
}
.talk-subtitle-top > a::before {
    content: "@";
    margin: 0 0px 0 10px;
}
.talk-subtitle-top a:hover,
.talk-subtitle-top a:focus {
    color: var(--primary);
    text-decoration: none;
}
.talk-title-details > h1.page-title {
    font-size: 1.6em;
    margin: 0;
    font-weight: 600;
}

@media (min-width: 768px) {
    .talk-title-region {
        padding: 30px;
    }
    .talk-title-actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .talk-title-actions .talk-actions > * {
        margin-left: 2em;
    }
}


/** talk presenters region **/
.presenter-entry {
    margin-bottom: 20px;
}
.presenter-entry > .presenters-block-top {
    display: grid;
    grid-template-columns: 75px auto;
    margin-bottom: 5px;
}
.presenters-block-top .presenter-photo {
    width: 50px;
    height: 50px;
    background-color: #CCC;
}
.presenters-block-top .presenter-name-title {
    align-self: center;
}
.presenter-name-title h3 {
    margin: 0;
    font-size: 1.3em;
}
.presenter-name-title h3 a {
    font-weight: bold;
    color: black;
}
.presenter-name-title h3 a:hover,
.presenter-name-title h3 a:focus {
    color: var(--primary);
    text-decoration: none;
}

/** talk event info region **/
.event-info-region-entry {
    display: grid;
    grid-template-columns: 100px auto;
}
.event-info-region-entry .event-info-details {
    padding-left: 25px;
    padding-top: 15px;
}
.event-info-details h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 5px;
}
.event-info-details h3 a {
    color: black;
}
.event-info-details h3 a:hover,
.event-info-details h3 a:focus {
    color: var(--primary);
    text-decoration: none;
}
.event-location .loc-organization {
    display: block;
}
.event-location .loc-administrative-area {
    padding-left: 5px;
}

/** Profile: details region **/
.profile-title-region {
    display: grid;
    grid-template-columns: 100px 4fr;
    grid-gap: 20px;
    position: relative;
}
.profile-title-region > .profile-pic img {
    border-radius: 50%;
}
.profile-title-region > .profile-title {
    align-self: center;
}
h1.page-title.profile-title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0 0 10px;
    line-height: 1em;
}
.profile-title > span {
    font-size: 0.9em;
    line-height: 1.3em;
    display: block;
}
.profile-edit {
    grid-column: span 2;
}

/** Event Header Region **/
.event-header-details {
    padding-top: 0px;
}
.event-header-details .event-title-region {
    display: grid;
    grid-template-columns: 1fr;
}
.event-title-region h1.page-title.event-title {
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0 0 0;
    grid-row: 2;
}
.event-title-region .node-actions-region {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    background-color: var(--primary-10);
    padding: 5px 0;
}
.event-header-details > .field {
    max-width: 800px;
}
.event-header-details .field--name-field-location p {
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .event-header-details {
        padding-top: 30px;
    }
    .event-header-details .event-title-region {
        grid-template-columns: 10fr 2fr;
    }
    .event-title-region h1.page-title.event-title {
        grid-row: 1;
        margin: 0;
    }
    .event-title-region .node-actions-region {
        justify-self: end;
        grid-template-columns: repeat(2, 80px);
        background-color: unset;
        padding: 0;
    }
}

/** Event Vertical (actually horizontal) Tabs **/
.event-vertical-tabs .tabs-left {
    margin: 10px 0;
}
.event-vertical-tabs .tabs-left > .nav-tabs {
    float: none;
    margin: 0 0 15px;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--primary-10);
}
.event-vertical-tabs .tabs-left > .nav-tabs > li {
    display: inline-block;
    margin: 0;
}
.event-vertical-tabs .tabs-left > .nav-tabs > li > a {
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid transparent;
    margin: 0;
    box-shadow: unset;
    background-color: unset;
}
.event-vertical-tabs .tabs-left > .nav-tabs > li.active > a {
    border-color: var(--primary);
    box-shadow: unset;
    color: var(--primary);
}
.event-vertical-tabs .tabs-left > .nav-tabs > li > a:hover,
.event-vertical-tabs .tabs-left > .nav-tabs > li > a:focus {
    color: var(--primary);
    border-color: var(--primary);  
}
.event-vertical-tabs .tabs-left > .nav-tabs > li.active > a:hover,
.event-vertical-tabs .tabs-left > .nav-tabs > li.active > a:focus {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}
.event-vertical-tabs .tabs-left > .tab-content {
    border-radius: unset;
    box-shadow: unset;
    padding: 0 15px;
    border: unset;
}
.event-vertical-tabs .tabs-left > .tab-content .panel-body {
    padding: 0;
}

@media (min-width: 1920px) {
    .event-vertical-tabs .tabs-left > .tab-content {
        padding: 0;
    }
}

/** Photo Gallery Grid **/
.field--name-field-gallery .field--items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}
@media (min-width: 768px) {
    .field--name-field-gallery .field--items {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/** Two Column Panel **/
.two-col-panel {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid var(--border-lightest);
}
h2.twoc-panel-title {
    font-weight: 600;
    color: var(--primary-darkest);
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 1em;
    line-height: 1.846;
}
h2.twoc-panel-title::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-darkest);
}
.two-col-panel > .col-1 {
    max-width: 800px;
}
.two-col-panel > .highlighted-col {
    padding: 15px 30px;
    background: var(--grey-lightest);
    margin-top: 15px;
}
@media (min-width: 768px) {
    .two-col-panel > .highlighted-col {
        margin-top: 0px;
        padding: 30px;
    }
}
@media (min-width: 992px) {
    .two-col-panel {
        margin-top: 50px;
        padding-top: 25px;
    }
}


/**
** Upload Page
**/
.upload-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    grid-gap: 100px;
    justify-items: center;
    margin: auto;
}