/**
** Entity Form Title Region
**/
.node-add-edit h1.page-header {
    padding: 30px;
    margin: 0 -15px;
    background-color: var(--primary-10);
    font-size: 3em;
    border-color: var(--border-lightest);
}

/**
** Entity form nav tab / vertical tabs
**/

.node-add-edit .tabs-left {
    margin: 10px 15px 15px;
}
.node-add-edit .tabs-left > .nav-tabs {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

.node-add-edit .tabs-left > .nav-tabs > li {
    display: inline-block;
    margin: 0;
}
.node-add-edit .tabs-left > .nav-tabs > li > a {
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid transparent;
    margin: 0;
    box-shadow: unset;
    background-color: unset;
}
.node-add-edit .tabs-left > .nav-tabs > li.active > a {
    border-color: var(--primary);
    box-shadow: unset;
    color: var(--primary);
}
.node-add-edit .tabs-left > .nav-tabs > li > a:hover,
.node-add-edit .tabs-left > .nav-tabs > li > a:focus {
    color: var(--primary);
    border-color: var(--primary);  
}
.node-add-edit .tabs-left > .nav-tabs > li.active > a:hover,
.node-add-edit .tabs-left > .nav-tabs > li.active > a:focus {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}
.node-add-edit .tabs-left > .tab-content {
    border-radius: unset;
    box-shadow: unset;
    border: 1px solid var(--border-lightest);
    padding: 1em;
    margin: 15px 0;
}


/**
** Panels
**/

/** Panel help/description **/
.panel-body > p.help-block {
    color: black;
    font-size: 14px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-lightest);
}
.panel-body > p.help-block > span.panel-help-header {
    display: block;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 5px;
}

/** Unpanel a panel **/
.unpanel .panel {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    background-color: unset;
}
.unpanel .panel > .panel-heading {
    display: none;
}
.unpanel .panel > .panel-body {
    padding: 0;
}

/** Sidebar panels **/
.form-sidebar > .panel {
    box-shadow: unset;
    border-left: 1px solid var(--border-lightest);
    border-radius: unset;
    margin-bottom: 0;
    margin-right: -15px;
}
.form-sidebar > .panel > .panel-heading {
    color: #212121;
    background-color: unset;
    border-bottom: 1px solid var(--border-lightest);
    border-top: 1px solid var(--border-lightest);
    font-weight: bold;
    border-radius: unset;
    padding: 0;
}
.form-sidebar > .panel > .panel-heading > a.panel-title {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}
.form-sidebar > .panel > .panel-body {
    padding: 30px;
    background-color: var(--grey-light);
}
.form-sidebar > .panel > .panel-heading > a.panel-title:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    color: #666;
    margin-right: 15px;
    font-weight: 100;
    font-size: 14px;
    display: inline-block;
}
.form-sidebar > .panel > .panel-heading > a.panel-title.collapsed:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.form-sidebar > .panel:first-of-type > .panel-heading {
    border-top: unset;
}
.form-sidebar > .panel > .panel-heading > a.panel-title.collapsed {
    border-bottom: unset;
}

.form-sidebar > .panel > .panel-heading > a.panel-title:hover,
.form-sidebar > .panel > .panel-heading > a.panel-title:focus {
    background-color: var(--primary-10);
}
.form-sidebar > .panel:last-of-type {
    border-bottom: 1px solid var(--border-lightest);
}


/**
** Entity form action buttons
**/
form.node-form > #edit-actions {
    padding: 15px;
}
form.node-form > #edit-actions > button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
    line-height: unset;
    height: unset;
    border-radius: 0;
}