/**
   ____                      ________  ______
  / __ \____  ___  ____     /  _/ __ \/ ____/
 / / / / __ \/ _ \/ __ \    / // / / / /     
/ /_/ / /_/ /  __/ / / /  _/ // /_/ / /___   
\____/ .___/\___/_/ /_/  /___/_____/\____/   
    /_/                                      

**/
/**
  Build and designed by the members of
  Open Instructional Design Co-Operative
  www.openidc.ca
**/

:root {
    --primary: #009688;
    --primary-dark: #1c7e74;
    --primary-light: #36d6c6;
    --primary-10: rgba(0, 150, 136, 0.1);
    
    --secondary: #429ebd;
    --secondary-dark: #2e6f84;
    --secondary-light: #7bbbd1;

    --white: #ffffff;
    --bg-lightest: #f8f8f8;
    --bg-mid: #f5f5f5;
    --bg-highlight: #ebebeb;
    --bg-highlight-overlay: #dcdcdc;

    --red: #bd4242;
    --red-dark: #842e2e;
    --red-light: #d17b7b;

    --greyblue: #698796;
    --greyblue-dark: #495f69;
    --greyblue-light: #96abb6;

    --black: #000000;
    --text-mid: #666666;
    --text-light: #AAAAAA;


    --grey-lightest: #f4f4f4;
}

/**
** Typography
**/
body {
    font-size: 14px;
}

@media (min-width: 2048px) {
    body {
        font-size: 16px;
    }
}

/**
** Site Header
**/
header.navbar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
header.navbar > .container-fluid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header.navbar > .container-fluid > .navbar-header {
    grid-column: 1 / 9;
}
header.navbar > .container-fluid > .navbar-collapse {
    grid-column: 9 / -1;
    justify-self: end;
}
header.navbar .navbar-nav > li > a {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20.5px 25px;
    border-left: 1px solid var(--grey-lightest);
    letter-spacing: 1px;
}
header.navbar .navbar-nav > li > a:hover,
header.navbar .navbar-nav > li > a:focus,
header.navbar .navbar-nav > li > a:active {
    background-color: unset;
    color: var(--primary);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: var(--grey-lightest);
    color: black;
}


/**
** Main content layout for Views
**/
body.path-frontpage .region-content {
    
}