/**
** Login, register, reset
**/

form.user-login-form,
form.user-register-form,
form.user-pass {
  max-width: 960px;
  margin: 3em auto 2em auto;
}

.account-form-footer {
  max-width: 960px;
  margin: 3em auto 0;
  font-size: 0.8em;
}


/**
** User Dashboard
**/
.field.dashboard-block {
  max-width: 1240px;
  margin: auto;
}
@media (min-width: 1600px) {
  .field.dashboard-block {
      max-width: 1400px;
  }
}

@media (min-width: 1920px) {
  .field.dashboard-block {
      max-width: 1800px;
  }
}

.dashboard-block .table > thead > tr > th {
  padding: 0.5em;
  border-bottom: 0px;
  color: var(--border-dark);
}
.dashboard-block .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: unset;
}
.dashboard-block .table > tbody > tr > td {
  padding: 0.5em;
  border-top: 0px;
  line-height: 1.35em;
}
.dashboard-block td.views-field-title > a {
  font-weight: bold;
  color: black;
}
.dashboard-block .table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}