/**
** Node Page Layout
**/
body.path-node .main-container {
    margin-top: 15px;
}

@media (min-width: 1920px) {
    body.path-node .main-container {
        max-width: 1800px;
        margin-top: 30px;
    }
}

/**
** Talk Node
**/
.node--type-talk.node--view-mode-full {
    padding-right: 0px;
}

@media (min-width: 1920px) {
    .node--type-talk.node--view-mode-full {
        padding-right: 50px;
    }
}

/**
** Node fields
**/
.node.node--view-mode-full > .field.field--label-above {
    margin-top: 30px;
    max-width: 700px;
}
.field--label-above > .field--label {
    font-weight: 600;
    color: var(--primary-darkest);
    text-transform: uppercase;
    margin-bottom: 15px;
}
.field--label-above > .field--label::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-darkest);
}

/**
** Node page elements
**/

/** talk title region **/
.talk-title-region {
    padding: 30px 15px;
    background-color: var(--grey-lightest);
    color: black;
}
.talk-title-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}
.talk-title-actions .stat-count {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    line-height: 1em;
}
.talk-title-actions .stat-desc {
    font-size: .9em;
    color: var(--grey-dark);
}
.talk-title-actions .talk-actions {
    text-align: right;
}
.talk-title-actions .talk-actions > a {
    color: var(--grey-dark);
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    font-weight: 100;
}
.talk-actions > a > span.glyphicon {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 100;
}
.talk-actions > a:hover,
.talk-actions > a:focus {
    text-decoration: none;
}
.talk-actions > a:hover > span.glyphicon,
.talk-actions > a:focus > span.glyphicon {
    color: var(--primary);
}
.talk-subtitle-top a {
    color: var(--grey-dark);
}
.talk-subtitle-top > a::before {
    content: "@";
    margin: 0 0px 0 10px;
}
.talk-subtitle-top a:hover,
.talk-subtitle-top a:focus {
    color: var(--primary);
    text-decoration: none;
}
.talk-title-details > h1.page-title {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}


/** talk presenters region **/
.presenter-entry {
    margin-bottom: 20px;
}
.presenter-entry > .presenters-block-top {
    display: grid;
    grid-template-columns: 75px auto;
    margin-bottom: 5px;
}
.presenters-block-top .presenter-photo {
    width: 50px;
    height: 50px;
    background-color: #CCC;
}
.presenters-block-top .presenter-name-title {
    align-self: center;
}
.presenter-name-title h3 {
    margin: 0;
    font-size: 16px;
}
.presenter-name-title h3 a {
    font-weight: bold;
    color: black;
}
.presenter-name-title h3 a:hover,
.presenter-name-title h3 a:focus {
    color: var(--primary);
}