label {
  font-weight: 500;
  color: var(--primary-darkest);
}

.form-inline > .form-item {
  margin-right: 10px;
}

textarea, 
textarea.form-control,
input.form-control, 
input[type=text], 
input[type=password], 
input[type=email], 
input[type=number], 
[type=text].form-control, 
[type=password].form-control,
[type=email].form-control, 
[type=tel].form-control,
[contenteditable].form-control {
  background-color: white;
  border-radius: 4px;
  padding: 5px 10px;
  height: auto;
  box-shadow: unset;
  border: 1px solid var(--border-dark);
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.form-control:focus {
  box-shadow: inset 0 -2px 0 var(--primary);
  border-color: var(--primary)
}

select,
select.form-control {
  background-image: unset;
  background-color: white;
  border-radius: 4px;
  padding: 10px 3em 10px 10px;
  box-shadow: unset;
  border: 1px solid var(--border-dark);
}
.select-wrapper:after {
  padding-right: 0;
  right: 10px;
  color: #999;
}
select:focus,
select.form-control:focus {
  background-image: unset;
  box-shadow: inset 0 -2px 0 var(--primary);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: var(--primary);
  border-color: var(--primary-dark);
}

/**
** Autocomplete Deluxe
**/
div.autocomplete-deluxe-multiple {
  background: white;
  border-color: var(--border-dark);
  padding: 15px;
} 
.autocomplete-deluxe-container {
  display: block;
  background: white;
  border-color: var(--border-dark);
  padding: 15px;
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  border: none;
  background: unset;
  padding: 0;
  margin: 0;
  border-radius: unset;
  font-size: 18px;
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form:focus {
  box-shadow: unset;
  border: unset;
}
.autocomplete-deluxe-item {
  background-color: var(--primary-10);
  color: black;
  font-size: 18px;
  padding: 5px 25px 5px 10px;
  line-height: 1.4em;
  box-shadow: unset;
  border-radius: unset;
  margin: 0 15px 0 0;
  vertical-align: middle;
}
.autocomplete-deluxe-item-delete {
  right: 5px;
  top: 11px;
}
div.autocomplete-deluxe-throbber {
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
}

/**
** Alerts
**/
.form-item--error-message.alert {
  margin: 0;
}

/**
** Help Block
**/
.help-block {
  color: #666;
}