/**
** Node Page Layout
**/
body.path-node .main-container {}

@media (max-width: 768px) {
    body.path-node .main-container {
        max-width: 1800px;
        margin-top: 30px;
    }
}

/**
** Talk Node
**/
.node--type-talk.node--view-mode-full {
    padding-right: 0px;
}

@media (max-width: 768px) {
    .node--type-talk.node--view-mode-full {
        padding-right: 50px;
    }
}